<div x-render-target="#wb-item-action-section">
    {% embed "ajax/game/actions.html.twig" with {'item_action_list': actions, 'recipe_list': recipes, 'scout': active_scout_mode, 'hidden': citizen_hidden, 'iec': true, 'open': true} %}
    {% endembed %}
</div>

<script>
    {% embed "scripts/actions.js.twig" with {no_heroic: true} %}{% endembed %}

    handleActions(
        document.querySelectorAll('ul.actions [x-action-id][x-provoking-id]:not([disabled])'),
        '{{ path('beyond_desert_action_controller') }}', '{{ path('beyond_dashboard') }}'
    );

    handleRecipes(
        document.querySelectorAll('ul.actions>li[x-recipe-id]:not([disabled])'),
        '{{ path('beyond_desert_recipe_controller') }}', '{{ path('beyond_dashboard') }}', document.getElementById('beyond_desert_content')
    );

    handleActionPopups( document.querySelectorAll('ul.actions>li[x-target-definition]') );
</script>