{% block html %}
    {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'items': rucksack.items, 'sort': true} %}
        {% block class %}rucksack{% endblock %}
        {% block title %}{% trans from 'game' %}Rucksack{% endtrans %}{% endblock %}
    {% endembed %}

    <button id="drop-all-button" {% if rucksack.items|length == 0 %}disabled{% endif %}><img alt="" src="{{ asset('build/images/item/item_bag.gif') }}" /> {% trans from 'game' %}Rucksack ausleeren{% endtrans %}</button>

    {% embed "ajax/game/inventory.html.twig" with {'size': chest_size, 'items': chest.items} %}
        {% block class %}chest{% endblock %}
        {% block title %}{% trans from 'game' %}Truhe{% endtrans %} ({{chest_size}}){% endblock %}
    {% endembed %}
{% endblock %}

{% block includes %}
    {% embed "scripts/inventory.js.twig" %}{% endembed %}
{% endblock %}

<script>
    {% block js %}
        handleItems(
            document.querySelectorAll('.rucksack>.item:not(.locked)[x-item-id]'),
            '{{ path('town_house_item_controller') }}',
            'down', '{{ path('house_partial_inventory') }}', null, document.getElementById('partial-proxy')
        );

        handleItems(
            document.querySelectorAll('#drop-all-button'),
            '{{ path('town_house_item_controller') }}',
            'down-all', '{{ path('house_partial_inventory') }}', null, document.getElementById('partial-proxy')
        );

        handleItems(
            document.querySelectorAll('.chest>.item:not(.locked)[x-item-id]'),
            '{{ path('town_house_item_controller') }}',
            'up', '{{ path('house_partial_inventory') }}', null, document.getElementById('partial-proxy')
        );

        {% if not app.user.expert %}
            $.html.addEventListenerAll('ul.inventory.chest>li.item', 'click', function() {
                $.html.conditionalSetTutorialStage(3,'text5',3,'text6');
            });
        {% endif %}
    {% endblock %}
</script>