{{ constant('App\\Controller\\Messages\\MessageController::ErrorForumNotFound') }}  : '{{'Das gewählte Forum existiert nicht oder dir fehlt die Zugangsberechtigung dafür.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorPostTextLength') }} : '{{'Dein Text muss mindestens 2 Zeichen lang sein.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorPostTitleLength') }}: '{{'Dein Titel muss zwischen 3 und 64 Zeichen lang sein.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorPMItemLimitHit') }} : '{{'Du kannst keine weiteren Gegenstände senden.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorForumLimitHit') }}  : '{{'Spamschutz: Du musst eine Weile warten, bis du wieder schreiben kannst.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorGPMMemberLimitHit') }}  : '{{'Du kannst keine weiteren Spieler zu dieser Nachricht hinzufügen.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorGPMThreadLimitHit') }}  : '{{'Spamschutz: Du hast heute bereits eine große Anzahl an Spielern kontaktiert; du musst eine Weile warten, bevor du eine neue Nachricht erstellen kannst.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorPMItemChaosOut') }} : '{{'Es ist nicht erlaubt, im Chaos-Modus einen Gegenstand an einen Bürger zu senden, der sich außerhalb der Stadt befindet.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\Messages\\MessageController::ErrorPostTitleTextMissing') }} : '{{'Deine Nachricht benötigt einen Titel sowie Inhalt.'|trans({},'global')|e('js')}}',