{{
    {
        'hordes-map': encore_entry_all_js_files('module-game'),
        'hordes-log': encore_entry_all_js_files('module-game'),
        'hordes-flash': encore_entry_all_js_files('module-ruffle'),
        'hordes-town-creator': encore_entry_all_js_files('module-town-creator'),
        'hordes-event-creator': encore_entry_all_js_files('module-event-creator'),
        'hordes-avatar-creator': encore_entry_all_js_files('module-avatar-creator'),
    }|json_encode|raw
}}