{% extends "ajax/game/town/town.html.twig" %}
{% block title %}{{'Der Brunnen'|trans({}, 'game')}}{% endblock %}
{% block tutorial %}
    <div x-tutorial-content="3.text3" class="toplevel text">
        <div class="help">
            <p>{% trans from "help" %}
                    Wenn sich die Bürger eines Tages dazu entschließen eine <strong>Pumpe</strong> zu bauen, wird die Stadt über mehr Wasser verfügen.
            {% endtrans %}</p>
            <button x-advance-tutorial="3.text4">{{ 'Weiter...'|trans({},'help') }}</button>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-well time-{{ hour }} {% if conf.isNightTime %}night{% endif %}"></div>
    </div>

    {% if rations_left < 15 %}
        <div class="note note-critical">
            {{'<strong>Achtung:</strong> Ohne Wasser können bestimmte Verteidigungen (wie z.B. die Wassergeschütztürme) beim Angriff der Zombies nicht eingesetzt werden!'|trans({}, 'game')|raw}}
        </div>
    {% endif %}

    <div class="row">
        <div class="cell padded rw-3 rw-lg-4 rw-md-6 ro-md-3 rw-sm-8 ro-sm-2">
            <div class="well">
                <div class="back"></div>
                {% if rations_left > 0 %}
                    <div class="water" style="height: {{ 6 + 59 * min(1.0, (rations_left / 100.0)) }}%"></div>
                {% endif %}
                <div class="mask"></div>
                <div class="overlay">
                    {% if rations_left > 0 %}
                        {{ '{rations} Rationen Wasser übrig'|trans({'{rations}': rations_left},'game') }}
                    {% else %}
                        <span class="small"><b>{{ 'Kein Wasser mehr!'|trans({},'game') }}</b></span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="cell padded rw-9 rw-lg-8 rw-md-12">
            <div class="help">
                {% trans from 'game' %}
                    Der Brunnen ist der Ort, an dem sich die Bürger jeden Tag ihre Ration Wasser holen.
                {% endtrans %}
                <br />
                <strong>
                {% if not pump %}
                    {{'Wenn die Stadt eine Pumpe baut, ist sie im Stande mehr Wasser zu fördern!'|trans({}, 'game')}} {{ help_btn('Du kannst den Bau einer Pumpe im Bereich <strong>Konstruktionen</strong> beginnen.'|trans({}, 'game')) }}
                {% else %}
                    ({{'Die Stadt verfügt über eine {pumpname}.'|trans({'{pumpname}': 'Pumpe'|trans({}, 'buildings')}, 'game')}})
                {% endif %}
                </strong>
            </div>
            {% if pump is not null %}
                {# @var pump \App\Entity\Building #}
                {% if banished %}
                    <div class="note note-warning">
                        {% trans from 'game' %}
                            Aufgrund deiner Verbannung kannst du maximal eine Ration Wasser pro Tag entnehmen.
                        {% endtrans %}
                    </div>
                {% endif %}
            {% endif %}
            <p class="actions-box">
                {% if first_take or pump is null %}
                    <button data-fetch="{{ path('rest_town_facilities_well_retrieve') }}" data-fetch-method="get" data-fetch-load="{{ path('town_well') }}" {% if not allow_take or rations_left <= 0 %}disabled{% endif %}><img alt="" src="{{ asset('build/images/item/item_water.gif') }}" />{{ 'Deine Ration Wasser erhalten'|trans({},'game') }}</button>
                {% else %}
                    <button data-fetch="{{ path('rest_town_facilities_well_retrieve') }}" data-fetch-method="get" data-fetch-load="{{ path('town_well') }}" data-fetch-confirm="{{ 'Bestätigen?'|trans({},'global') }}" {% if rations_left <= 0 %}disabled{% endif %}><img alt="" src="{{ asset('build/images/item/item_water.gif') }}" />{{ 'Eine weitere Ration erhalten'|trans({},'game') }}</button>
                {% endif %}

            {% if pump is not null %}
                {% if not first_take %}
                    <div class="note note-critical">{{'Achtung! Wenn du pro Tag <strong>mehr als eine Ration Wasser</strong> nimmst, erfolgt dies auf Kosten der anderen Bürger. Aus diesem Grund werden dementsprechende Aktionen im Großen Register rot vermerkt...'|trans({}, 'game')|raw}}</div>
                {% endif %}
                <p>
                    <button data-fetch="{{ path('rest_town_facilities_well_insert') }}" data-fetch-method="put" data-fetch-load="{{ path('town_well') }}" data-fetch-confirm="{{ 'Bestätigen?'|trans({},'global') }}"><img alt="" src="{{ asset('build/images/icons/small_well.gif') }}" />{{ 'Wasser hinzufügen'|trans({},'game') }}</button>
                </p>
            {% endif %}

            <p class="book">
                {% trans from 'game' %}
                    Wasser ist unersetzbar. Es ermöglicht dir einmal pro Tag deine Aktionspunkte durch Trinken wieder aufzufüllen. Des weiteren kann man es auch gegen Zombies einsetzen (reines Wasser zerstört sie).
                {% endtrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <h5>{{ 'Brunnenregister'|trans({},'game') }} <a class="float-right link" x-ajax-href="{{ path("game_newspaper") }}">{{ 'Das Gesamtregister ansehen'|trans({}, 'game') }}<div class="tooltip normal">{{ 'Dieser Link bringt dich zum <strong>Großen Register</strong>. Darin werden alle wichtigen Handlungen und Aktionen der Stadtbürger gespeichert...'|trans({}, 'game')|raw }}</div></a></h5>
        <div class="cell rw-12">
            <hordes-log id="well-log" data-react-mount="well-log" data-day="{{ day }}" data-etag="{{ date().timestamp }}" data-category="{{ constant('App\\Entity\\LogEntryTemplate::TypeWell') }}" data-domain="town"></hordes-log>
        </div>
    </div>
{% endblock %}